@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: var(--background);
  font-family:var(--font-assistant), sans-serif;
}
:root{
  --background : White;
  --text : #333;
}