@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap');
body {
  background: var(--background);
  font-family:var(--font-assistant), sans-serif;
}
h1{
  font-family:  "Montserrat", sans-serif !important;
}
:root{
  --background : White;
  --text : black;
  --border : rgba(0,0,0,0.4);
}
span h4{
  color: #33333391 !important;
}